


 * {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

@font-face {
  font-family: 'Genericons';
  src: url('genericons-regular-webfont.woff')format('woff'),url('genericons-regular-webfont.eot')format('truetype');
}

.container {
  margin: 50px auto;
  width: 75%;
}

.container1 {
  margin: 50px auto;
  width: 80%;
}

header h1 {
  color: #fff;
  margin-bottom: 80px;
  text-align: center;
}

.accordion {
  background: #333;
  width: 100%;
  min-width: 768px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0;
}


.tab {
  display: inline-block;
  background-color: #444;
  border-right: #333 1px solid;
  /* width: 80px; */
  width: 7.4074074%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}
 .tab1 {
  display: inline-block;
  background-color: #444;
  border-right: #333 1px solid;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}


.tab:hover {
  /* width: 821px; */
  /* width: 910px; */
  width: 84.2592592%;

}
.tab1:hover {
  width: 806px;
}
.tab:hover .social a:before {
  /* margin-left: -100px; */
  margin-left: -10.9890109%;
}

.tab:hover .social a:after {
  /* margin-left: -5px; */
  margin-left: -0.00005494505495%;
}

 .tab1:hover .social a:before {
  margin-left: -100px;
}

.tab1:hover .social a:after {
  margin-left: -5px;
}

.tab .content {
  background: #fff;
  width: 100%;
  height: 200px;
  /* margin-left: 100%; */
  margin-left: 80px;
  padding: 50px 0 0 15px;
  position: relative;
}

.tab:hover .content {
  background: #fff;
  /* width: 741px; */
  /* width: 810px; */
  width: 89.010989%;
  height: 200px;
   margin-left: 80px;
  /* margin-left: 8.7912087%; */
  padding: 50px 0 0 15px;
  position: relative;
}

 .tab1 .content {
  background: #fff;
  width: 726px;
  height: 200px;
  margin-left: 80px;
  padding: 50px 0 0 15px;
  position: relative;
}

.tab .content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.tab1 .content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 30px;
}

.tab1 .content p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 30px;
}

.social a:after,
.social a:before {
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  /* width: 100%; */
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  /* padding-left: 25px; */
  padding-left: 31.25%;
  display: block;
  font: normal 30px Genericons;
  color: #fff;
}


.social a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
  /* margin-left: 106.25%; */
}


.youtube a:before,
.youtube a:after {
  content: '\f213';
}
.youtube a:after {
  background-color: #ff0000;
}

.twitter a:before,
.twitter a:after {
  content: '\f202';
}
.twitter a:after {
  background-color: #6dc5dd;
}

.facebook a:before,
.facebook a:after {
  content: '\f204';
}
.facebook a:after {
  background-color: #3b5998;
}

.linkedin a:before,
.linkedin a:after {
  content: '\f208';
}
.linkedin a:after {
  background-color: #00a9cd;
}

.instagram a:before,
.instagram a:after {
  content: '\f215';
}
.instagram a:after {
  background-color: #6dc993;
}

.github a:before,
.github a:after {
  content: '\f200';
}
.github a:after {
  background-color: #6e5494;
}

@media (max-width: 950px) {
  .container {
    width: 70%;
  }

  .container1 {
    width: 70%;
  }


  .tab {
    display: block;
    width: 100%;
    border-bottom: 3px #333 solid;
  }
  .tab1 {
    display: block;
    width: 100%;
    border-bottom: 3px #333 solid;
  }


  .accordion {
    display: block;
    min-width: 450px;
    height: auto;
  }



  .tab .content {
    width: 85%;
  }

   .tab1 .content {
    width: 85%;
  }


  .tab:hover {
    width: 100%;
  }

  .tab1:hover {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .container {
    width: 95%;
  }

  .container1 {
    width: 95%;
  }


  .accordion {
    width: 100%;
    min-width: 350px;
  }


}

@media (max-width: 320px) {
  .container {
    width: 95%;
  }

  .container1 {
    width: 95%;
  }

  .accordion {
    width: 100%;;
    min-width: 250px;
  }

}
